<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="10" />
  <add key="MaxPage" value="5" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="luyenvu8x@gmail.com"/>
  <add key="FromEmailPassword" value="luyen@2014"/>
  <add key="FromName" value="ASP.Net MVC 5 Trainning"/>
  <add key="AdminEmail" value="luyenvu8x@gmail.com"/>
<add key="CurrentLink" value="http://localhost:52422/"/>
</appSettings>